[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	owner = group OSS-Self-Service-Admin
	owner = group aia_admin
	create = group CI_Infrastructure_ENM_admin
	create = group aia_admin
	forgeCommitter = group CI_Infrastructure_ENM_admin
	forgeCommitter = group aia_admin
	push = +force group CI_Infrastructure_ENM_admin
	push = group aia_admin
	label-Code-Review = -2..+2 group CI_Infrastructure_ENM_admin
	label-Code-Review = -2..+2 group aia_admin
	label-Verified = -1..+1 group CI_Infrastructure_ENM_admin
	label-Verified = -1..+1 group aia_admin
	rebase = group ADP-Readers
	rebase = group CI_Infrastructure_ENM_admin
	rebase = group aia_admin
	rebase = group user/Fucntional ID for the ADP Hub (eadphub)
	submit = group CI_Infrastructure_ENM_admin
	submit = group aia_admin
	read = deny group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = group ADP-Readers
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
	read = group user/Fucntional ID for the ADP Hub (eadphub)
	createTag = group CI_Infrastructure_ENM_admin
	createTag = group aia_admin
[access "^refs/for/d.*"]
	create = group ADP-Readers
	create = group user/Fucntional ID for the ADP Hub (eadphub)
	create = group user/New Functional ID for EADPUSER (eadpusers)
	push = group ADP-Readers
	push = group user/Fucntional ID for the ADP Hub (eadphub)
	pushMerge = group ADP-Readers
	pushMerge = group user/Fucntional ID for the ADP Hub (eadphub)
[access "^refs/for/refs/heads/d.*"]
	pushMerge = group ADP-Readers
	pushMerge = group user/Fucntional ID for the ADP Hub (eadphub)
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ADP-Readers
[access "^refs/heads/b.*"]
	create = group ADP-Readers
	create = group user/Fucntional ID for the ADP Hub (eadphub)
	push = group ADP-Readers
	push = group user/Fucntional ID for the ADP Hub (eadphub)
	pushMerge = group ADP-Readers
	pushMerge = group user/Fucntional ID for the ADP Hub (eadphub)
[access "^refs/heads/d.*"]
	create = group ADP-Readers
	create = group user/Fucntional ID for the ADP Hub (eadphub)
	push = group ADP-Readers
	push = group user/Fucntional ID for the ADP Hub (eadphub)
	pushMerge = group ADP-Readers
	pushMerge = group user/Fucntional ID for the ADP Hub (eadphub)
[access "^refs/heads/maintenance.*"]
	create = group ADP-Readers
	push = group ADP-Readers
	pushMerge = group ADP-Readers
[access "^refs/tags/b.*"]
	create = group ADP-Readers
	push = group ADP-Readers
	createTag = group ADP-Readers
[access "^refs/tags/d.*"]
	create = group ADP-Readers
	push = group ADP-Readers
	createTag = group ADP-Readers
[access "refs/changes/master"]
	push = group ADP-Readers
	push = group user/Fucntional ID for the ADP Hub (eadphub)
[access "refs/for/refs/heads/master"]
	create = group ADP-Readers
	create = group user/Fucntional ID for the ADP Hub (eadphub)
	push = group ADP-Readers
	push = group user/Fucntional ID for the ADP Hub (eadphub)
	label-Code-Review = -2..+2 group ADP-Readers
[access "refs/heads/master"]
	label-Code-Review = -2..+2 group ADP-Readers
[plugin "data-owner"]
	DataOwner = earujos
	DataOwnerDepartment = BCSS NM Eng EE Development Tools
[plugin "self-service"]
	owner = Group[CI_Infrastructure_ENM_admin / 76dd8c13c0a1f48ea35cccc8b6fd68e82755ac27]
